id              = "132c6d70b4a8"
region          = "europe-west3"
billing_id      = ""
environment     = "dev"
email_admin     = "test@gmail.com"
email_advanced  = "test@gmail.com"
email_essencial = "test@gmail.com"
project_name    = "Data Lake"
